@import "tailwindcss";

@theme {
  --color-secondary: #6d6d6d;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  /* height: 100%; */
}

* {
  box-sizing: border-box;
  font-size: 18px;
}
